{% extends "sitio_publico/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sitio_publico/css/registro.css' %}">
{% endblock %}

{% block content %}

<!-- HERO REGISTRO -->
<div class="registro-base-hero text-white text-center d-flex flex-column justify-content-center align-items-center">
  <h1 class="mb-3">Plataforma de Registros</h1>
  <h2>Inicio · Registro Audiovisual</h2>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">

      <div class="d-flex justify-content-between mb-4 small text-muted">
        <div class="fw-bold text-info">1. Tipo de persona</div>
        <div>2. Completar datos y enviar</div>
      </div>

    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row justify-content-center">

    <!-- INFO -->
    <div class="col-lg-4 mb-4">
      <div class="memberRegistro">
        <h5 class="mb-3">¿Quiénes pueden inscribirse?</h5>
        <p>
          Podrán inscribirse en este Registro personas humanas y jurídicas
          radicadas en la provincia de Salta.
        </p>
        <p>
          En el caso de personas jurídicas, podrán inscribirse empresas,
          asociaciones civiles, fundaciones o cooperativas.
        </p>
      </div>
    </div>

    <!-- FORMULARIO -->
    <div class="col-lg-8 mb-4">
      <div class="memberRegistro text-center">
        <h3 class="mb-2">Tipo de inscripción</h3>
        <p class="text-muted mb-4">
          Elegí el tipo de personería que querés inscribir.
        </p>

        <form method="post">
          {% csrf_token %}
          <button type="submit"
                  class="btn btn-outline-info me-2"
                  name="tipo"
                  value="humana">
            Persona Humana
          </button>

          <button type="submit"
                  class="btn btn-outline-info"
                  name="tipo"
                  value="juridica">
            Persona Jurídica
          </button>
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
