{% extends "sitio_publico/base.html" %}
{% load static %}

{% block content %}

<!-- HERO UNIFICADO -->
<section class="fomento-hero text-center">
  <h1 class="fw-bold mb-2">Documentación personal</h1>
  <p class="text-white mb-0">
    {{ postulacion.nombre_proyecto }}
  </p>
</section>

<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="dav-steps">
        <div class="step">1. Datos del proyecto</div>
        <div class="step active">2. Documentación personal</div>
        <div class="step">3. Documentación del proyecto</div>
      </div>

    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row justify-content-center">

    <!-- INFO -->
    <div class="col-lg-4 mb-4">
      <div class="dav-card">
        <h5 class="fw-bold mb-3">Subí tu documentación personal</h5>
        <p class="mb-0">
          Documentación requerida al Presentante establecida en las Bases y Condiciones de la convocatoria.<br><br>
          <strong>Formato admitido:</strong> PDF.<br>
          <strong>Tamaño máximo</strong> 5mb.
        </p>
      </div>
    </div>

    <!-- FORMULARIO -->
    <div class="col-lg-8">
      <div class="dav-card">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}


        <form method="post"
              enctype="multipart/form-data"
              class="row g-3">
          {% csrf_token %}

          <div class="col-12">
            <label class="form-label">
              Seleccionar archivos
            </label>
            <input type="file"
                   name="archivos"
                   multiple
                   class="form-control"
                   required>
          </div>

          <div class="col-12 text-end mt-4">
            <button type="submit" class="btn btn-primary">
              Continuar
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}
